# String formatting
## Old style string formatting
> The formatting operations described here exhibit a variety of quirks that lead to a number of common errors (such as failing to display tuples and dictionaries correctly). Using the newer formatted string literals or the str.format() interface helps avoid these errors. These alternatives also provide more powerful, flexible and extensible approaches to formatting text.

In [1]:
'Hello, %s' % 'abcd'

'Hello, abcd'

In [2]:
'%x' % 123

'7b'

In [4]:
'Text %(var1)s, Num %(var2).3f' % {'var1': 'text', 'var2': 1.23456}

'Text text, Num 1.235'

## New style string formatting

In [7]:
'{}-{}-{}-{}'.format(*range(4))

'0-1-2-3'

In [8]:
'{a} {b} {c}'.format(a=0, b=True, c=set())

'0 True set()'

In [10]:
'{a:.3f} {b:x} {c}'.format(a=0, b=True, c=set())

'0.000 1 set()'

## Super new style string formatting
Literal String interpolation (The best)

In [15]:
a = 5
b = 10
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

'Five plus ten is 15 and not 30.'

In [17]:
f'Five plus ten is {a + b:.3f} and not {2 * (a + b)}.'

'Five plus ten is 15.000 and not 30.'

## Template Strings

In [18]:
from string import Template

template = Template('$a * $a = $b')

for i in range(10):
    print(template.substitute(a=i, b=i**2))

0 * 0 = 0
1 * 1 = 1
2 * 2 = 4
3 * 3 = 9
4 * 4 = 16
5 * 5 = 25
6 * 6 = 36
7 * 7 = 49
8 * 8 = 64
9 * 9 = 81